{% block header_site_navigation_tabs %}
    <li><a href="home" class="site-header__menu-item menu-item" title="Beranda">Beranda</a></li>
    <li><a href="dataset" class="site-header__menu-item menu-item" title="Dataset">Dataset</a></li>
    <li><a href="organization" class="site-header__menu-item menu-item" title="Berita">Organisasi</a></li>
    <li><a href="showcase" class="site-header__menu-item menu-item" title="Berita">Aplikasi</a></li>
    <li><a href="blog" class="site-header__menu-item menu-item" title="Tanggap Darurat">Tanggap Darurat</a></li>
    <li><a href="about" class="site-header__menu-item menu-item" title="Tentang">Tentang</a></li>
{% endblock %}
